<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DERGroupDispatch_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iec.ch/TC57/2011/RequestDERGroupDispatch"
                binding="basicHttpBinding" bindingConfiguration="DERGroupDispatch_Binding"
                contract="DERGroupDispatch_Port" name="DERGroupDispatch_Port" />
        </client>
    </system.serviceModel>
</configuration>