<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIMConfig.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CIMConfig.Settings1>
            <setting name="headerVerb" serializeAs="String">
                <value>create</value>
            </setting>
            <setting name="headerNoun" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderNontext" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="HeaderTimestamp" serializeAs="String">
                <value />
            </setting>
            <setting name="headerSource" serializeAs="String">
                <value />
            </setting>
            <setting name="headerAsyncReplyFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headerAckRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headerMessageID" serializeAs="String">
                <value />
            </setting>
            <setting name="headerCorrelationID" serializeAs="String">
                <value />
            </setting>
            <setting name="headerComment" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="headerAsyncReplyFlagSpecified" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="headerRevision" serializeAs="String">
                <value />
            </setting>
            <setting name="headerTimeStampSpecified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headerAckRequiredSpecified" serializeAs="String">
                <value>False</value>
            </setting>
        </CIMConfig.Settings1>
    </userSettings>
</configuration>