<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="createVerb" value="create"/>
    <add key="getVerb" value="get"/>
    <add key="noun" value="DER"/>
    <add key="context" value="testing"/>
    <add key="source" value="CIS-001"/>
    <add key="asyncReplyFlag" value="False"/>
    <add key="replyAddress" value="http://127.0.0.1/DERGroup"/>
    <add key="ackRequired" value="False"/>
    <add key="comment" value="testing CIM"/>
    <add key="revision" value="0.1a"/>
    <add key="userOrg" value="Epri"/>
    <add key="userID" value="Test1"/>
    <add key="replayDetectionNonce" value="none"/>
  </appSettings>
</configuration>